@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f7f5ff;
  overflow-x: hidden;
}

::selection {
  background: #8b5cf6;
  color: white;
}